@import "../utilities/variables";

    nav {
        width: 80%;
        margin: 0 auto;
        background: #fff;
        padding: 50px 0;
        border-bottom: 1.5px solid #aaa;
        div {
            ul {
                list-style: none;
                text-align: center;
                    li {
                        display: inline-block;
                        a {
                            display: block;
                            padding: 15px;
                            color: #aaa;
                            font-weight: 800;
                            margin: 0 10px;
                        }
                        a,
                        a:after,
                        a:before {
                            transition: all .5s;
                          }
                          a:hover {
                            color: #555;
                          }
                    }
            }
        }
    }
 